
params {
    result_dir = 'results/annotate_doc' /** \type{str} Where results will be saved. */
    report_dir = 'reports/annotate_doc' /** \type{str} Where results will be saved. */

    precursor_report_template = '/home/ajm/code/nf-pdc/nf-pdc/resources/precursor_quality.skyr'
    replicate_report_template = '/home/ajm/code/nf-pdc/nf-pdc/resources/replicate_quality.skyr'

    panorama.skyline_folder = null
    panorama.reports_folder = null

    documents = ['Switzerland_QE-HF':
                    ['skyline': '/home/ajm/nextflow/nci7/Switzerland_QE-HF/results/nf-teirex-dia/skyline/import-spectra/Switzerland_QE-HF.sky.zip',
                     'metadata': '/home/ajm/nextflow/annotate_doc_test/metadata/Switzerland_QE-HF_metadata.tsv']

                ]
}

// Execution Profiles
profiles {

    /*
     * Params for running pipeline on the local computer (e.g.:
     * your laptop). These can be overridden in the local config file.
     */
    standard {
        process.executor = 'local'

        // limit nextflow to running 1 task at a time
        executor.queueSize = 8

        params.max_memory = '12.GB'
        params.max_cpus = 8
        params.max_time = '240.h'

        // where to cache mzml files after running msconvert
        params.mzml_cache_directory = '~/code/nf-pdc/mzml_cache'
        params.panorama_cache_directory = '~/code/nf-pdc/raw_cache'
    }
    aws {
        process.executor = 'awsbatch'
        process.queue = 'nextflow_basic_ec2'

        // params for running pipeline on aws batch
        // These can be overridden in local config file

        // max params allowed for your AWS Batch compute environment
        params.max_memory = '124.GB'
        params.max_cpus = 32
        params.max_time = '240.h'

        // where to cache mzml files after running msconvert
        params.mzml_cache_directory = 's3://mc-tei-rex-nextflow-dda/dia/mzml_cache'
        params.panorama_cache_directory = 's3://mc-tei-rex-nextflow-dda/panorama_cache'
    }
}

