
params {
    msconvert.do_demultiplex = false;       // whether or not to demultiplex with msconvert
    msconvert.do_simasspectra = true;       // whether or not to do simAsSpectra with msconvert
    msconvert.store_mzml = false;

    // pdc_study_id = 'PDC000152'
    pdc_study_id = 'PDC000341'
    n_raw_files = 2

    ms_data_dir = '/home/ajm/code/nf-pdc/subset_mzML' // If null, all the raw files for the study through the PDC API.

    // general workflow params, can be changed
    result_dir = 'results/nf-teirex-dia' /** \type{str} Where results will be saved. */
    report_dir = 'reports/nf-teirex-dia' /** \type{str} Where results will be saved. */

    // default parameters for Encyclopedia searches, can be overridden by users
    // todo: follow up on these options: -quantifyAcrossSamples true -scoringBreadthType window
    encyclopedia.params = '-enableAdvancedOptions -v2scoring'
    encyclopedia.version = '2.12.30'

    fasta = 'https://panoramaweb.org/_webdav/MacCoss/Aaron/cromwell_tests/PDC000341/%40files/dbase/uniprot_human_jan2021_yeastENO1.fasta'
    // fasta = '/home/ajm/code/nf-pdc/resources/uniprot_human_jan2021_yeastENO1_subset.fasta'

    // spectral_library = 'https://panoramaweb.org/_webdav/MacCoss/Aaron/cromwell_tests/PDC000341/%40files/dbase/pan_human_library.dlib'
    spectral_library = '/home/ajm/code/nf-pdc/resources/uniprot_human_jan2021_yeastENO1_subset-z3_nce33-prosit.dlib'

    // skyline_template_file = '/home/ajm/code/nf-pdc/nf-pdc/resources/template.sky.zip'
    skyline_template_file = 'https://panoramaweb.org/_webdav/MacCoss/Aaron/cromwell_tests/PDC000341/%40files/dbase/template_iRT.sky.zip'

    panorama_skyline_folder = 'https://panoramaweb.org/_webdav/MacCoss/Aaron/cromwell_tests/PDC000341/@files/'

    panorama_mzml_folder = null

    panorama_reports_folder = null

    qc_report.precursor_report_template = '/home/ajm/code/nf-pdc/nf-pdc/resources/precursor_quality.skyr'
    qc_report.replicate_report_template = '/home/ajm/code/nf-pdc/nf-pdc/resources/replicate_quality.skyr'
    qc_report.standard_proteins = ['iRT']
}

// Execution Profiles
profiles {

    /*
     * Params for running pipeline on the local computer (e.g.:
     * your laptop). These can be overridden in the local config file.
     */
    standard {
        process.executor = 'local'

        // limit nextflow to running 1 task at a time
        executor.queueSize = 8

        params.max_memory = '12.GB'
        params.max_cpus = 8
        params.max_time = '240.h'

        // where to cache mzml files after running msconvert
        params.mzml_cache_directory = '~/code/nf-pdc/mzml_cache'
        params.panorama_cache_directory = '~/code/nf-pdc/raw_cache'
    }
    aws {
        process.executor = 'awsbatch'
        process.queue = 'nextflow_basic_ec2'

        // params for running pipeline on aws batch
        // These can be overridden in local config file

        // max params allowed for your AWS Batch compute environment
        params.max_memory = '124.GB'
        params.max_cpus = 32
        params.max_time = '240.h'

        // where to cache mzml files after running msconvert
        params.mzml_cache_directory = 's3://mc-tei-rex-nextflow-dda/dia/mzml_cache'
        params.panorama_cache_directory = 's3://mc-tei-rex-nextflow-dda/panorama_cache'
    }
}

