
params {
    images = [
        linux:              'quay.io/mauraisa/aws_bash:latest',
        panorama_client:    'quay.io/protio/panorama-client:1.1.0',
        proteowizard:       'proteowizard/pwiz-skyline-i-agree-to-the-vendor-licenses:3.0.24284-bc93c28',
        batch_report:       'quay.io/mauraisa/dia_qc_report:2.2.5'
    ]
}
